.nyc_output
coverage
docs
.idea
.vscode
node_modules
*.ts
!*.d.ts
.env
.gitignore
test
.dockerignore
.gitlab-ci.yml
build.sh
.github
*.md
tsconfig.dev.json
tsconfig.json
tslint.json
.prettierrc
.tmp.*
Dockerfile
jest.config.js
*.sh
docker
public
