{
    "semi": true,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "tabWidth": 2,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 80
}
